### Instalando as Bibliotecas

In [2]:
pip install python-binance

In [3]:
pip install sweetviz

### Importando as Bibliotecas

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as sns
import sweetviz as sv

### Colocando os parâmentros da API Binance

In [5]:
from binance.client import Client
api_key = "SUA CHAVE API"
api_secret = "SUA CHAVE API"
client = Client(api_key,api_secret)

## BTC

### Importando dados do BTC

In [6]:
btc = client.get_historical_klines("BTCUSDT", Client.KLINE_INTERVAL_15MINUTE, "1 Jan, 2017")
btc

### Realizando a otimização do DataFrame

1) Definimos a variável
2) Usamos o iloc para selecionar as linhas e colunas
3) Colocamos nome nas colunas
4) Definimos a coluna "Time" como index
5) Convertemos o índice (coluna "Time") para o formato de data e hora e adicionamos o parametro de milisegundos
6) COnvertemos o valores para float
7) Excluimos a primeira linha do DataFrame

In [7]:
df = pd.DataFrame(btc)
df = df.iloc[:,:6]
df.columns = ["Time","Open","High","Low","Close","Volume"]
df = df.set_index("Time")
df.index = pd.to_datetime(df.index,unit="ms")
df = df.astype(float)
df = df.iloc[1:,:]
df

                         Open      High       Low     Close      Volume
Time
2017-08-17 04:15:00   4261.48   4270.41   4261.32   4261.45    9.119865
2017-08-17 04:30:00   4280.00   4310.07   4267.99   4310.07   21.923552
2017-08-17 04:45:00   4310.07   4313.62   4291.37   4308.83   13.948531
2017-08-17 05:00:00   4308.83   4328.69   4304.31   4304.31    5.101153
2017-08-17 05:15:00   4320.00   4320.00   4312.14   4320.00   15.947495
...                       ...       ...       ...       ...         ...
2024-05-14 18:45:00  61383.67  61454.55  61360.13  61429.99  114.040440
2024-05-14 19:00:00  61430.00  61498.00  61397.20  61462.14  110.609470
2024-05-14 19:15:00  61462.14  61635.92  61425.26  61630.20  154.080710
2024-05-14 19:30:00  61630.20  61653.71  61545.77  61653.70  132.762900
2024-05-14 19:45:00  61653.70  61659.99  61630.00  61630.01   43.558270

[235850 rows x 5 columns]

## ETH

### Importando dados do ETH

In [8]:
eth = client.get_historical_klines("ETHUSDT", Client.KLINE_INTERVAL_15MINUTE, "1 Jan, 2017")
eth

### Realizando a otimização do DataFrame

1) Definimos a variável
2) Usamos o iloc para selecionar as linhas e colunas
3) Colocamos nome nas colunas
4) Definimos a coluna "Time" como index
5) Convertemos o índice (coluna "Time") para o formato de data e hora e adicionamos o parametro de milisegundos
6) COnvertemos o valores para float
7) Excluimos a primeira linha do DataFrame

In [9]:
dff = pd.DataFrame(eth)
dff = dff.iloc[:,:6]
dff.columns = ["Time","Open","High","Low","Close","Volume"]
dff = dff.set_index("Time")
dff.index = pd.to_datetime(dff.index,unit="ms")
dff = dff.astype(float)
dff = dff.iloc[1:,:]
dff

                        Open     High      Low    Close      Volume
Time
2017-08-17 04:15:00   298.00   300.80   298.00   299.39    31.44065
2017-08-17 04:30:00   299.39   300.79   299.39   299.60    52.93579
2017-08-17 04:45:00   299.60   302.57   299.60   301.61    35.49066
2017-08-17 05:00:00   301.61   302.57   300.95   302.01    81.69235
2017-08-17 05:15:00   302.01   303.28   300.00   302.21   150.11387
...                      ...      ...      ...      ...         ...
2024-05-14 18:45:00  2884.61  2887.91  2882.41  2887.57  1290.39060
2024-05-14 19:00:00  2887.58  2893.65  2886.21  2890.84  1635.66410
2024-05-14 19:15:00  2890.85  2897.85  2888.32  2897.79  1826.85270
2024-05-14 19:30:00  2897.80  2897.80  2892.20  2897.79   978.72960
2024-05-14 19:45:00  2897.79  2897.80  2893.20  2895.97   578.40640

[235850 rows x 5 columns]

## BNB

### Importando dados do BNB

In [10]:
bnb = client.get_historical_klines("BNBUSDT", Client.KLINE_INTERVAL_15MINUTE, "1 Jan, 2017")
bnb

### Realizando a otimização do DataFrame
1) Definimos a variável
2) Usamos o iloc para selecionar as linhas e colunas
3) Colocamos nome nas colunas
4) Definimos a coluna "Time" como index
5) Convertemos o índice (coluna "Time") para o formato de data e hora e adicionamos o parametro de milisegundos
6) COnvertemos o valores para float
7) Excluimos a primeira linha do DataFrame

In [11]:
df_bnb = pd.DataFrame(bnb)
df_bnb = df_bnb.iloc[:,:6]
df_bnb.columns = ["Time","Open","High","Low","Close","Volume"]
df_bnb = df_bnb.set_index("Time")
df_bnb.index = pd.to_datetime(df_bnb.index,unit="ms")
df_bnb = df_bnb.astype(float)
df_bnb

                         Open      High       Low     Close    Volume
Time
2017-11-06 03:45:00    1.5000    1.7990    0.5000    1.7000   649.120
2017-11-06 04:00:00    1.3000    1.6500    1.3000    1.5400  2414.100
2017-11-06 04:15:00    1.5441    1.6300    1.5441    1.5445  3924.380
2017-11-06 04:30:00    1.5735    1.5735    1.5450    1.5450  1470.940
2017-11-06 04:45:00    1.5451    1.6479    1.5451    1.6479   338.300
...                       ...       ...       ...       ...       ...
2024-05-14 18:45:00  567.0000  567.6000  566.7000  567.2000  1114.098
2024-05-14 19:00:00  567.3000  568.5000  567.2000  568.0000  1571.032
2024-05-14 19:15:00  568.0000  569.0000  567.4000  568.9000  1511.105
2024-05-14 19:30:00  568.9000  569.2000  568.2000  569.2000  2864.174
2024-05-14 19:45:00  569.1000  569.7000  569.0000  569.1000   859.332

[228103 rows x 5 columns]

## SOL

### Importando dados do SOL

In [12]:
sol = client.get_historical_klines("SOLUSDT", Client.KLINE_INTERVAL_15MINUTE, "1 Jan, 2017")
sol

### Realizando a otimização do DataFrame
1) Definimos a variável
2) Usamos o iloc para selecionar as linhas e colunas
3) Colocamos nome nas colunas
4) Definimos a coluna "Time" como index
5) Convertemos o índice (coluna "Time") para o formato de data e hora e adicionamos o parametro de milisegundos
6) COnvertemos o valores para float
7) Excluimos a primeira linha do DataFrame

In [13]:
df_sol = pd.DataFrame(sol)
df_sol = df_sol.iloc[:,:6]
df_sol.columns = ["Time","Open","High","Low","Close","Volume"]
df_sol = df_sol.set_index("Time")
df_sol.index = pd.to_datetime(df_sol.index,unit="ms")
df_sol = df_sol.astype(float)
df_sol

                         Open      High       Low     Close     Volume
Time
2020-08-11 06:00:00    2.8500    3.4700    2.8500    3.1655   6115.820
2020-08-11 06:15:00    3.1655    3.3564    3.1358    3.1360   2813.110
2020-08-11 06:30:00    3.1360    3.1360    2.9054    2.9665   9207.640
2020-08-11 06:45:00    3.0033    3.0113    2.9515    2.9515   1895.690
2020-08-11 07:00:00    2.9515    3.1355    2.9515    3.0310   5723.440
...                       ...       ...       ...       ...        ...
2024-05-14 18:45:00  143.6800  143.8900  143.4600  143.8700   6981.703
2024-05-14 19:00:00  143.8700  144.0000  143.6200  143.9600  18179.510
2024-05-14 19:15:00  143.9500  144.6800  143.8000  144.6600  16577.891
2024-05-14 19:30:00  144.6500  144.6800  144.0700  144.4900  21671.919
2024-05-14 19:45:00  144.4800  144.5200  143.9000  143.9700   9395.457

[131674 rows x 5 columns]

## ADA

### Importando dados do ADA

In [ ]:
ada = client.get_historical_klines("ADAUSDT", Client.KLINE_INTERVAL_15MINUTE, "1 Jan, 2017")
ada

### Realizando a otimização do DataFrame
1) Definimos a variável
2) Usamos o iloc para selecionar as linhas e colunas
3) Colocamos nome nas colunas
4) Definimos a coluna "Time" como index
5) Convertemos o índice (coluna "Time") para o formato de data e hora e adicionamos o parametro de milisegundos
6) COnvertemos o valores para float
7) Excluimos a primeira linha do DataFrame

In [ ]:
df_ada = pd.DataFrame(ada)
df_ada = df_ada.iloc[:,:6]
df_ada.columns = ["Time","Open","High","Low","Close","Volume"]
df_ada = df_ada.set_index("Time")
df_ada.index = pd.to_datetime(df_ada.index,unit="ms")
df_ada = df_ada.astype(float)
df_ada

## Juntando as colunas "Close" dos ativos em um novo Data Frame

In [ ]:
dfs=pd.DataFrame({"BTC": df["Close"],
                  "ETH": dff["Close"],
                  "BNB":df_bnb["Close"],
                  "SOL":df_sol["Close"],
                  "ADA":df_ada["Close"]})
dfs

## Utilizando a biblioteca sweetviz

#### Vamos usar a função analyze da biblioteca para plotarmos os gráficos e suas conclusões

In [ ]:
visual = sv.analyze(dfs)

#### Vamos salvar a página HTML com um nome , neste caso usamos o nome "Influencia.html"

In [ ]:
visual.show_html("Influencia.html")